@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$fg-error: red;
$fg-warning: orange;
$fg-success: green;

$bg-body:#1c1c1c;
$fg-body:#00c7f2;
$fg-body-active:#c1f1fc;
$fg-body-text:#444444;
$fg-body-text-active:#000000;

$bg-context:#2a2a2a;
$fg-context:#aaaaaa;
$fg-context-active:#ffffff;

$bg-context-border: #222222;
$fg-context-border: #aaaaaa;

$bg-input: #232323;
$fg-input: #8a8a8a;

$bg-button: #01ffff;
$fg-button: #011011;

.error { color: $fg-error; }
.warning { color: $fg-warning; }
.success { color: $fg-success; }


* {
   font-family: 'Roboto Condensed', sans-serif;
}

html {
   box-sizing: border-box;
   height: 100%;
   width: 100%;
   overflow: -moz-scrollbars-vertical;
}

body {
   font-family: Roboto, serif;
   height: 100%;
   width: 100%;
   margin: 0;
   background: $bg-body;
   color: $fg-body;
}

button, .navigation > li {
   background: $fg-body;
   margin:3px;
   padding:3px 5px;
   border:1px solid #000;
   border-radius:5px;
}

.navigation {
   list-style:none;
   li {
      float:left;
      clear:none;
   }
}

.breadcrumbs {
   display:inline-block;
   width:300px;
   float:right;
   clear:right;
   padding-right:20px;

   ul {
      list-style:none;
      height:100%;
      li {
         float:left;
         clear:none;
         padding-right:3px;
         color:$fg-context;
      }
      li.domain {
      }
      li.crumb {
         a {
            text-decoration:none;
            color:inherit;
         }
         a:hover {
            text-decoration:underline;
         }
      }
      li.active {
         a {
            pointer-events:none;
         }
      }
      li.separator {
      }
   }
}

.navigation.main {
   display:inline-block;
   width:100%;
   clear:both;
   padding:0;
   margin-left:20px;

   li {
      display:inline-block;
      margin:0;
      padding:0;
      border:1px solid #000;

      a {
         display:inline-block;
         height:30px;
         line-height:30px;
         padding:0 7px;
         text-decoration:none;
         color:#000;
         border-radius:5px;
         background:$fg-body;
         color:$fg-body-text;
      }

      a.active {
         background:$fg-body-active;
         color:$fg-body-text-active;
      }

      a:hover {
         background:$fg-body-active;
         color:$fg-body-text-active;
      }
   }

   li.left > a {
      border-radius:5px 0 0 5px;
   }

   li.middle > a {
      border-radius:0;
   }

   li.right > a {
      border-radius:0 5px 5px 0;
   }
}


form.inline {
   padding:0; 
   margin:0;

   input {
      float:left; 
      clear:none;
      background: $fg-body;
      margin:0;
      padding:3px 5px;
      border:1px solid #000;
      border-radius:5px;
      width:80px;
   }

   input[type="text"] {
      background:$bg-context;
      color:$fg-context;
      border-color:$bg-context-border;
   }

   input.left {
      border-radius:5px 0 0 5px;
   }

   input.middle {
      border-radius:0;
   }

   input.right {
      border-radius:0 5px 5px 0;
   }

   input[type="button"], input[type="submit"] {
      background:$fg-body;
      color:$fg-body-text;
      cursor:pointer;
   }

   input[type="button"]:hover, input[type="submit"]:hover {
      background:$fg-body-active;
      color:$fg-body-text-active;
   }

   input.active {
      background:$fg-body-active;
      color:$fg-body-text-active;
      pointer-events:none;
   }
}

div#session {
   position:relative;
   top:0px;
   width:100%;
   height:40px;
   line-height:40px;
   margin-bottom:10px;
   background:$bg-context;
   border-bottom:1px solid $bg-context-border;

   span.deezer-logo {
      float:left;
      clear:left;
      padding:0 20px;

      img {
         display:inline-block;
         width:117px;
         height:24px;
         vertical-align:middle;
      }
   }

   span.breadcrumbs {
   }
}

#app {
   height: 100%;
   width:100%;
   box-sizing: border-box;
   display:block;
   margin:0 auto;
   min-width:800px;
   min-height:400px;

   > div {
      width:100%;

      .context {
         width:auto;
         border-radius:5px;
         margin:0 20px;

         h1 {
            font-size:1.8em;
            font-weight:600;
            padding-left:8px;
         }
      }
   }
}

#search {
   form.inline {
      display:inline-block;
      clear:both;
      input[type="text"] {
         width:400px;
         margin-right:10px;
      }
   }
}
